@font-face{
    font-family: urbanistRegular;
    src: url("./fonts/static/Urbanist-Regular.ttf");
}
@font-face{
    font-family: urbanistLight;
    src: url("./fonts/static/Urbanist-Light.ttf");
}
@font-face{
    font-family: urbanistItalic;
    src: url("./fonts/static/Urbanist-Italic.ttf");
}
html{
    margin: 0;
    text-align: center;
}
body{
    margin: 0;
    text-align: center;
    margin: auto;
}
.profile-info{
    width: 350px;
    height: 500px;
    margin: auto;
    margin-top: 20px;
}
.profile-info #pfp-wrapper{
    border-radius: 20px 20px 20px 20px;
    text-align: center;
}
.profile-info #pfp-wrapper #pfp-image{
    margin: auto;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    height: 150px;
    width: 150px;
    margin-top: 20px;
}
.profile-info #username-wrapper #username-content{
    font-family: urbanistRegular;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}
.profile-info #username-wrapper #username-description{
    text-align: center;
    font-family: urbanistLight;
}
.profile-info #username-wrapper #username-quote{
    text-align: center;
    font-family: urbanistItalic;
}
.profile-info #username-wrapper img{
    height: 20px;
    width: 20px;
}
.contact-information{
    margin: auto;
}
.contact-information #contact-wrapper{
    width: 300px;
    height: 80px;
    margin-top: 20px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}
.contact-information #contact-wrapper p{
    line-height: 80px;
    color: black;
}
.social-media #social-wrapper{
    width: 300px;
    height: 80px;
    margin-top: 20px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}
.social-media #social-wrapper{
    line-height: 80px;
    color: black;
}